/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: #353430;
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --header-text-color: var(--text-color);
  --is-light: hidden;
  --border-color: var(--text-color);
  --border-hover: rgba(50, 49, 45, 0.4);
  --border-focus: var(--text-color);
  --header-color: #ffc2e6;
  --topic-color: var(--text-color);
  --decor-color: var(--text-color);
  --bottom-color: var(--text-color);
  --link-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-opacity: #32312d66;
    --text-color: #353430;
    --decoration-color: var(--text-color);
    --background-color: #fff1f7;
    --header-text-color: var(--background-color);
    --is-light: hidden;
    --border-color: var(--text-color);
    --header-color: #ffc2e6;
    --topic-color: var(--topic-color);
    --decor-color: var(--text-color);
    --bottom-color: var(--text-color);
    --link-color: var(--text-color);
  }
}

.theme-light .header__decoration-dark {
  display: none;
}
