/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  align-self: flex-start;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
  inset-inline-start: 10px;
  margin-block-end: 12px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid #ff0070;
}

.text-link:focus {
  border: 1px solid #ff0070;
}

.text-link:focus-visible {
  outline: none;
}

/*header styles*/
.header {
  height: 100vh;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  min-height: 668px;
  justify-items: end;
  align-items: center;
}

.header__decoration-dark {
  position: absolute;
  block-size: 25px;
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  text-transform: uppercase;
  line-height: 25px;
  top: 10px;
  right: 38px;
}

.header__decoration-dark::after {
  position: absolute;
  align-self: center;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  top: 8px;
  left: 42px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--decoration-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
  transition: border-color 0.3s;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--bottom-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__title {
  justify-self: start;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--small-line-height);
}

.header__text {
  display: inline-block;
  background: #ff0070;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
}

/*main styles*/
.main {
  margin-block: 40px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  row-gap: 50px;
}

.topic {
  grid-column: 1 / 4;
  grid-template-columns: 1fr;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: 20px;
}

.topic__title {
  grid-column: 1 / 4;
  color: var(--topic-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}

.topic__card {
  grid-column: 1 / 4;
  grid-template-columns: 1fr;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: 10px;
}

.title_decor {
  color: var(--header3-color);
  background-color: var(--accent-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}

.card__text {
  grid-column: 1 / 4;
  color: var(--text-color);
  font-size: var(--regular-font-size);
  line-height: var(--large-line-height);
}

.topic-pictures {
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: 10px;
  grid-template-columns: 1fr;
}

.topic__image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

.thin-title {
  font-weight: var(--regular-font-weight);
}

/* Footer styles */

.footer {
  position: relative;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--title-line-height);
}

/*Стили для планшетов темная тема*/

@media (width >=768px) {
  .main {
    margin-block: 60px;
    padding-inline: 20px;
    row-gap: 80px;
  }

  .header {
    min-height: 1024px;
    padding-block-start: 20px;
    padding-block-end: 183px;
    padding-inline-start: 0px;
    padding-inline-end: 20px;
    grid-template-rows: 6fr min-content 1fr;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    margin-block-end: 20px;
  }

  .header__decoration-dark {
    top: 18px;
    right: 46px;
  }

  .header__theme-menu {
    padding-block-end: 4px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-end: 160px;
  }

  .header__text {
    inline-size: 50%;
  }

  .topic {
    column-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .topic__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .topic__card {
    grid-column: 2 / 3;
  }

  .topic-pictures {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .topic__image {
    object-fit: cover;
    object-position: center;
  }

  .title_decor {
    grid-column: 1 / 2;
  }

  .title__top {
    grid-column: 1 / 4;
  }

  .topic > .title_decor {
    grid-column: 2 / 3;
  }

  .topic:nth-child(2) .topic__card {
    grid-column: 1 / 4;
  }

  .topic__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .topic__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .topic__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .topic__image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .topic__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    align-items: flex-end;
    height: 100%;
    min-height: 1024px;
  }
}

/*Стили для десктопа темная тема*/

@media (width >=1024px) {
  .header {
    min-height: 768px;
    padding-block-end: 136px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-block-start: 0px;
    padding-inline-start: 20px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__title {
    margin-block-end: 66px;
  }

  .header__text {
    margin-block-start: 45px;
  }

  .topic:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .topic:nth-child(2) .topic__title {
    grid-row: span 1;
  }

  .topic:nth-child(2) .topic__card {
    grid-row: 2 / 3;
    grid-column: span 1;
  }

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
